src/XML_Lab2/FPTAptech.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="https://www.codelean.vn"
            xmlns="https://www.codelean.vn"
            elementFormDefault="qualified">
    <xsd:element name="Student">
        <xsd:attribute name="Sex" type="xsd:string"/>
        <xsd:complexType>

            <xsd:sequence>
                <xsd:element name="Name" type="xsd:string">

                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>


</xsd:schema>
